@tailwind base;
@tailwind components;
@tailwind utilities;

/* Memberikan latar belakang solid dan font default untuk aplikasi */
html, body {
  background-color: #18181b; /* Warna abu-abu tua solid */
  font-family: 'Poppins', sans-serif;
  color: #E2E8F0; /* Warna teks default yang lebih terang */
}

/* Menyembunyikan scrollbar di semua browser */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


/* Kelas utility untuk efek glassmorphism */
@layer components {
  .glassmorphism {
    background: rgba(45, 55, 72, 0.25); /* Latar belakang semi-transparan */
    backdrop-filter: blur(10px); /* Efek blur */
    -webkit-backdrop-filter: blur(10px); /* Dukungan untuk Safari */
    @apply rounded-2xl border border-white/20 shadow-lg; /* Menggunakan apply untuk tailwind class */
  }
}

